.content {
  padding: 15px 20px;
  min-height: 54vmin;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.content .navigation {
  width: 20vw;
  flex: 0 0 auto;
  padding-top: 10px;
  min-height: inherit;
  padding-right: 5px;
  display: flex;
}

.content .display {
  width: 47vw;
  flex: 1 1 auto;border-radius: 8px 8px 0 0;
  padding-top: 10px;
  min-height: inherit;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  padding: 10px 5px;
}

.content .items {
  width: 25vw; 
  flex: 1 0 auto;
  padding-top: 10px;
  min-height: inherit;
  padding-left: 5px;
  border: 1px solid var(--border-color);;
  border-radius: var(--border-radius); 
}
